﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Start_Page.aspx.vb" Inherits="TB.ERP.Web.Start_Page" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
