﻿body
{
    direction:ltr;
    text-align:left;
    margin: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    background-repeat: repeat-x;
    background-image: url('../../Images/page copy1.jpg');
    position:absolute;
    
}

* html .rcShadTR,
* html .rcShadBL,
* html .rcShadBR
{
    display:none;
    }
    
/********Master Page**************/
.Chgalign
{
    text-align: left;
}
.ChgalignOpposite
{
    text-align: right;
}
.MasterPageTopHeader
{
    margin: 0px;
    padding: 0px;
    background-image: url('../../Images/PG_BG.png');
    background-repeat: repeat-x;
}

.MasterPagetdValign {
    vertical-align:middle;
}
/********************************/

.OuterSectionHead
{
    width:100%;
    height:20px;
    background:#808080;
    vertical-align:middle;
    font-weight:bolder;
    font-size:13px;
    color:White;
    text-align: right;
}
/*Section Headers*/
.InnerSectionHead
{
    font-family: Palatino Linotype;
    height: 25px;
    background-color: #F7EEE6;
    font-size: 14px;
    color: Black;
    width: inherit;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
}

.Notification
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 20px;
    background-color: #FFE6BF;
    font-size: 12px;
    color: Black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 5px;
    vertical-align:middle;
}


.DisplayTable { margin: 1em 0; border-collapse: collapse; width: 100%; }
.DisplayTableTD{ border: 1px solid #eee; padding: .6em 5px; text-align: left; }
.DisplayTableTH{ border: 1px solid #eee; padding: .6em 5px; text-align: left; }

.LinkButton
{
    color:Blue;
    padding:2px 3px 2px 3px;
    font-family: Palatino Linotype;
    font-size: 10pt;
    
}

.Menbar
{
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    background-color: #996633;
    height: 20px;
    background-image: url('../../Images/grayTb-7.fw.png');     
    background-repeat: repeat-x;   
}

.MenbarC
{
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    background-color: #996633;
    height: 20px;
    background-image: url('../../Images/grayTb-7.fw.png');     
    background-repeat: repeat-x;   
}
.menuOne
{
    list-style: none;
    margin: 0px;
    padding: 10px;
    width: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    bottom: auto;
    height: auto;
    text-align: left;
    color: #FFFFFF;
}
.menu
{
    border: 1px solid #996633;
    list-style: none;
    margin: 0px;
    padding: 10px;
    width: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    bottom: auto;
    height: auto;
    text-align: left;
    color: #800000;
}

.menu a, .menu a:visited
{
    color: #666666;
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    white-space: nowrap;
}

.menu a:hover
{
    color: #FFFF00;
    text-decoration: none;
    height: auto;
    background-color: #996633;
}

.menu a:active
{
    background-color: #800000;
    color: #C3BDAA;
    text-decoration: none;
}
.menubold
{
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.menuHover
{
    color: #FF3300;
}
.menuSelected
{
    text-decoration: underline;
    color: #996600;
}

.bakbox
{
    border: 1px solid #EAEAEA;
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
}
.bakboxOnly
{
    border: 1px solid #EAEAEA;
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px; /*      background-image: url('../Images/boxbg.gif');     background-repeat: repeat-x;     background-color: #FFFFFF; */
}
.topHeader
{
    height:80px;
    background-image: url('/Images/PG_BG.png');     
    background-repeat: repeat-x;   
}
.topImage
{
  
    height:80px;
    width:140px;
    background-image: url('/Images/FTLogo-6.fw.png');     
    background-repeat: no-repeat;   
}
.whitebox
{
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: #FFFFFF;
    height: 740px;
    background-image: url('/Images/page copy1.jpg'); 
   
}

.Redbox
{
    border: 2px solid #EAEAEA;
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px; /*     background-image: url('../Images/boxbg.gif');     background-repeat: repeat-x;  background-color: #FFFFFF;    */
}
.Redboxsmall
{
    border: 1px solid #EAEAEA;
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px; /*     background-image: url('../Images/boxsmallbg.gif');     background-repeat: repeat-x;     background-color: #FFFFFF;*/
}

.topbutton
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    width: 80px;
    height: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: bold !important;
    padding: 0;
    margin-right: .1em;
    text-decoration: none;
    cursor: pointer;
    border-color: #FFFFFF;
    border-width: 1px !important;
    background-color: #EBE8E7;
    color: #000000;
    border-bottom-style:solid;
}
   
.formbutton
{
   font-family: Helvetica, Arial, sans-serif; 
   font-size: 1em;
   width: auto;
   height: 25px;
   display: inline-block;
   padding: 0; 
   margin-right: .1em; 
   text-decoration: none !important; 
   cursor: pointer; 
   text-align: center; 
   zoom: 1; 
   background-color:#3399ff;
   border-color:#3399ff;
   color:#ffffff;
   border-width:1px !important;
   border-bottom-style:solid;
   font-weight:bold !important;
}
.formbutton-nodirty
{
   font-family: Helvetica, Arial, sans-serif; 
   font-size: 1em;
   width: auto;
   height: 25px;
   display: inline-block;
   padding: 0; 
   margin-right: .1em; 
   text-decoration: none !important; 
   cursor: pointer; 
   text-align: center; 
   zoom: 1; 
   background-color:#3399ff;
   border-color:#3399ff;
   color:#ffffff;
   border-width:1px !important;
   border-bottom-style:solid;
   font-weight:bold !important;
}

.tdlabels
{
    font-family: Palatino Linotype;
    font-size: 9pt;
    width: 75px;
    height: 25px;
    text-align: right;
}
.TopHeader
{
    font-family: 'Palatino Linotype';
    vertical-align: middle;
    padding-left: 100px;
    padding-right: 30px;
    font-size: 11pt;
    font-weight: bolder;
}
.TopHeaderTD
{
    background-color: #006699;
    vertical-align: middle;
}
.MaintableHeaders
{
    font-family: 'Palatino Linotype';
    font-size: medium;
}
.tableHeaders
{
    background-color: #006699;
    font-family: 'Palatino Linotype';
    font-size: medium;
}
.tableHeadersWithoutBG
{
    font-family: 'Palatino Linotype';
    font-size: small;
    font-weight: bold;
    text-align:right;
}

.table
{
    width: 100%;
}
.textbox
{
    font-family: 'Palatino Linotype';
    font-size: 12px;
    white-space: nowrap;
    background-color: #F4F4F4;
    border-bottom: 1px solid rgb(210,210,210);
    border-top: 1px solid rgb(210,210,210);
    border-left: 1px solid rgb(210,210,210);
    border-right: 1px solid rgb(210,210,210);
    overflow:hidden;
 
}


.textboxreadonly
{
    font-family: 'Palatino Linotype';
    font-size: 12px;
    width: 125px;
    white-space: nowrap;
    background-color:#CCCCCC;
    color:Black;
    border-bottom: 1px solid rgb(240,240,240);
    border-top: 1px solid rgb(240,240,240);
    border-left: 1px solid rgb(240,240,240);
    border-right: 1px solid rgb(240,240,240);
    padding-right:5px;
    overflow:hidden;
    
}

.combo-menu-top
{
    background-color:lemonchiffon;
    color:black;
     font-family: 'Palatino Linotype';
     font-weight:bold;
}

.selecteddate
{
    background-color: #336600;
}
.tdalign
{
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
}

.errorstate
{
    font-family: 'Palatino Linotype';
    font-size: small;
}
.SectionHeadLine
{
    line-height: 5px;
    vertical-align: middle;
    background-color: #C0C0C0;
    font-family: Palatino Linotype;
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
}
.SectionHead
{
    text-align: left;
    padding-left: 20px;
    font-family: Palatino Linotype;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
}

.SectionHeadSmall
{
    text-align: left;
    padding-left: 20px;
    font-family: Palatino Linotype;
    font-size: small;
    font-weight: bold;
    font-style: normal;
}

.gridHeader
{
    background: url(../images/bg-sprite.gif);
    margin: 0;
    padding: 0 4px 0 0;
    color: #000000;
    font-weight: bold;
    height: 25px;
    font-size:small;
    font-family: Verdana, Arial, Helvetica, sans-serif, Palatino Linotype;
    background-color: #C0C0C0;
}
.gridMatter
{
   color: #000000;
   font-family :Verdana, Arial, Helvetica, sans-serif, Palatino Linotype;
   font-weight :normal;
   font-size :11px; background-color: #ffffff;
}
.altrowstyle
{
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif, Palatino Linotype;
    font-weight: normal;
    font-size: 11px;
    background-color: #EDEDED;
}
.PagerStyle
{
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif, Palatino Linotype;
    background-position: center;
    background-repeat: repeat-x;
    background: url(../images/bg-sprite.gif);
} 

.gridFooter
{
    background: url(../images/bg-sprite.gif);
    margin: 0;
    padding: 0 4px 0 0;
    color: #000000;
    font-weight: bold;
    height: 10px;
    font-size:10px;
    font-family: Verdana, Arial, Helvetica, sans-serif, Palatino Linotype;
    background-color: #C0C0C0;
}

.Legendbox
{
    border: 1px solid #EAEAEA;
    color: #90EE90;
    width: 20px;
    text-align: right;
    height: 20px;
}

.Legendtext
{
    text-align: left;
    padding-right: 3px;
    white-space: nowrap;
}

.tdalignTextBox
{
    text-align: left;
    padding-right: 10px;
    white-space: nowrap;
}

/* JQ GRid Related */

.JQGrid 
{
    float:left;
}

.JQGridHighlightRow
{
    background-color: #66B3FF;
    color: White;
}

/* END */
.gridalign 
{
    text-align:left ; 
    padding-right: 10px;  
 }
 
 .gridTextBox
{
    text-align: left;
    white-space: nowrap;
}
 .gridExpandTable
 {
      font-family: 'Palatino Linotype'; 
      vertical-align: middle; 
      border: 10px solid #006699;
      text-align:left;
      width: 100%;
 }
 .gridExpandtdlabels
 {
    font-family: Palatino Linotype;
    font-weight:bold;
    font-size: 9pt;
    width: 75px;
    height: 25px;
    text-align: right;
    
 }
 
 .tooltipimage
 {
    src : url(../images/resize.gif);
  }
 
 .errors
 {
     text-align: center;
     font-weight:bold;
     vertical-align:top;
     color:Red;
 }
 .actionbar
 {
     border-style: solid; 
     border-width: 4px; 
     line-height: 15px; 
     vertical-align: middle;
     background-color: #C0C0C0;
 }
 .mendatory
 {
     color:#ff6600;
     font-weight:bold;
 }
 
 .mandatory
 {
     color:Red;
     font-weight:bold;
     
 }
 
 .tdMandateSym
{
    font-family: Palatino Linotype;
    font-size: 13pt;
    color: #ff6600 ;
    font-weight: bold;
}

.accordiondivHeader
{
    text-align : left;
    padding-left:20px;
}

.disabledTextbox
{
    background-color: #C0C0C0;
    border : solid 1pt;
    color : #CCCCCC;
    }
    
.gridbutton
{
    font-family: Palatino Linotype;
    font-size: 9pt;
    width: 70px;
    height: 23px;
}

.devXGridImgBtn {
    cursor:pointer;
}

.Hidden
{
    display:none;
}

.ui-masterpage-footer
{
    font-weight:bold;
    color:maroon;
    background-image:url('../../Images/pg-icon.gif');
    background-repeat:no-repeat;
    padding:5px 20px;

}

    
/********* JQuery Load Mask/UNMask **********************/

.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background: #c3daf9;
    padding:2px;
}
.loadmask-msg div {
    padding:5px 10px 5px 25px;
    background: #fbfbfb url('../../images/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
    border:1px solid #a3bad9;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}

/***** End Mask/UnMask */


.ui-jqgrid .ui-jqgrid-htable th div
{
    height:auto !important;
    overflow: hidden;
    padding-right:4px;
    padding-top:2px;
    position:relative;
    vertical-align:text-top;
    white-space: normal !important;
}

/****** Receiving and Penalty Section Styles *****/
.vjActionButton 
{
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    vertical-align:middle;
    text-align:center;
    font: bold 1.1em/20px helvetica;
    width:80px;
    height:25px;
    cursor: pointer;
    background-color: #EBE8E7;
    border-style:solid;
    border-width:1px;
    border-color:white;
}

.aspNetDisabled.vjActionButton 
{
    background-color:#efefef;
}

.vjROField 
{
    border:1px solid #558fd5;
    background-color: #eee;
    vertical-align:top;
}
.vjTableColumnTitle
{
    background-color:#808080;
    font-weight:bold;
    color:White;
    width:100%;
    text-align:center;
}

table.vjLayout 
{
    width:100%;
}

.centered {
    text-align:center;
}

.vjValidationSummary 
{
    margin:8px;
    padding:5px;
}


div.levelMismatch {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 1px solid black;
}

div.levelMismatchWarning {
    background-color: #ffff00;
    color: black;
}

div.levelMismatchError {
    background-color: #ff3300;
    color: white;
}

.vjValidationSummary > ul
{
    margin-top: 10px;
    list-style-type:circle;
    list-style-position:inside;
}
/**********************************/